.wrapper {
    padding-top: 24px;
    padding-bottom: 100px;
    .header {
        .text {
            color: $whiteLighter;
            width: 70%;
            margin-top: 10px;
            line-height: 24px;
        }
    }
}
