.card {
    margin-bottom: 16px;
    background-color: $secondryBackground;
    border-radius: 12px;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    .title {
        color: $whiteLighter;
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
        width: 100%;
    }
    .phone {
        font-size: 22px;
        font-weight: 600;
        display: inline-block;
    }
}
